body {
    display:flex;
    justify-content: center;

}

#container {
    margin: 2rem;
}

#grid-container {
    flex:5 0 100%;
    width: 80vh;
    height: 80vh;
    max-width: 80vh;
    max-height: 80vh;
    border: 4px dashed gray;
}

.flex {
    display:flex;
    gap: 3rem;
}

.flex-col {
    display:flex;
    flex-direction: column;
}

.left-panel {
    align-items: center;
    justify-content: space-evenly;
}

.row {
    display:flex;
}

.square {
    flex:1 1 100%;
    box-sizing: border-box;
    user-select: none;
}

.square:hover {
    background-color: rgb(223, 215, 215);
}

