body {
    display:flex;
    justify-content: center;

}

#container {
    margin: 2rem;
}

#grid-container {
    flex:5 0 100%;
    width: 80vh;
    height: 80vh;
    max-width: 80vh;
    max-height: 80vh;
    border: 4px dashed gray;
}

.flex {
    display:flex;
    gap: 3rem;
}

.center {
    display:flex;
    justify-content: center;
}

.flex-col {
    display:flex;
    flex-direction: column;
}

.title ,
#slider-text{
    font-family: cursive;
    font-size: xx-large;
}

.rst-btn {
    margin-top:1rem;
    display: block;
    font-size: x-large;
    font-family: cursive;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}

.left-panel {
    align-items: center;
    justify-content: space-evenly;
}

.row {
    display:flex;
}

.square {
    flex:1 1 100%;
    box-sizing: border-box;
    user-select: none;
}

.square:hover {
    background-color: rgb(223, 215, 215);
}

