body {
    display:flex;
    justify-content: center;

}

#grid-container {
    width: 90vh;
    border: 4px dashed gray;
}

.row {
    display:flex;
}

.square {
    flex:1 1 100%;
    box-sizing: border-box;
    user-select: none;
}

.square:hover {
    background-color: rgb(223, 215, 215);
}